<raw>
    <script>
        export default {
            onMounted(props, state) {
                this.root.innerHTML = props.content;
            },
            onUpdated(props, state) {
                this.root.innerHTML = props.content;
            },
        }
    </script>
</raw>